version: "3"
services:
  livekit:
    image: livekit/livekit-server:latest
    container_name: livekit-server
    command: --dev
    ports:
      - "7880:7880"
      - "7881:7881"
      - "7882:7882/udp"
    environment:
      - KEYS=devkey:secret

